.css-createFlowView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.draggable-list_wrapper {
    color: red;
    padding: 25px;
    max-width: 75vw;
    width: 100%;
    border-radius: 3px;
    background-color: lightblue;
}

.draggable-list_wrapper .draggable_item {
    display: flex;
    padding: 12px 17px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    background-color: lightcyan;
}

.draggable-list_wrapper .draggable_item:last-child {
    margin-bottom: 0px;
}

.draggable-list_wrapper .draggable_item .draggable_item-text {
    font-size: 18px;
    font-weight: 400px;
}

.draggable_item .fa {
    cursor: pointer;
    font-size: 18px;
    color: black;
}
