/* .App {
    text-align: center;
  }
  
  .App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1.5vmin);
  } */
  
  .App-link {
    color: #61dafb;
  }
  

.acro-flow-elements {
    list-style: none;
    padding-left: 0;
  }
  
  .acro-flow-elements li {
    display: flex;
    align-items: center;
    border: solid 2px #d0d0d0;
    border-radius: .2em;
    padding: .5em .8em .5em .5em;
    margin-bottom: 1em;
  }
  
  .acro-flow-elements p {
    max-width: none;
    font-weight: bold;
    margin: 0;
  }
  
  .acro-flow-elements-thumb {
    overflow: hidden;
    flex-shrink: 0;
    width: 4em;
    height: auto;
    background-color: #e8e8e8;
    padding: .5em;
    margin-right: .5em;
  }
  
  .acro-flow-elements-thumb img {
    display: block;
    width: 100%;
    height: auto;
  }